* {
    font-family: "Arial";
}

#dot {
    border-radius: 15px 15px 15px 15px;
    width: 15px;
    height: 15px;
}

#title {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;


}

#container {
    background: white;
    height: 136px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    padding-bottom: 8px;

}

#widget {
    background: #eff4f7;
    padding-left: 5px;
    padding-right: 5px;
    width: 867px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

#subtitle-box {

    align-items: center;
}

#logo-name {
    margin-left: 550px;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;

}

.footer-text {
    text-decoration: none;
}

.dark-text {
    color: #225481
}

.inline {
    display: inline-block;
}

.item {
    margin-top: 20px;
    background-color: #eff4f7;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-left: 2px;

    margin-right: 2px;
    border-radius: 8px 8px 8px 8px;
    width: 800px;
}

.icon {
    border-radius: 8px 8px 8px 8px;
    width: 37px;
    height: 37px;
    background: #a8c5d5;

}

.item-title {
    color: #5a778a;
    font-size: 14px;
    margin-left: 10px;
    line-height: 100%;
}

.item-subtitle {
    margin-top: 3px;
    font-size: 11px;
}

.dark-dot {
    background: #225481;
}

.green-dot {
    background: #4ea151;
}

.first-row {
    display: flex;
    align-items: center;
}